body *{
	/* デバッグ用 */
	/* border: 1px solid #3ff7fd; */
}

.headerBrank{
	height: 30px;
}

.linkWrapper{
	position: relative;
}

.link{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glasses{
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

.twAll{
	scroll-snap-type: y mandatory;
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

.twTweet{
	scroll-snap-align: start;
	overflow: auto;
	display: flex;
	position: relative;
	flex-direction: row;
	margin: 15px auto;
	padding: 5px 2px 0 5px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}

.twIconWrapper{
	display: inline-block;
	flex-shrink: 0;
	margin: 0px;
	width: 50px;
	height: auto;
	text-align: start;
}


.twIcon{
	border-radius: 50%;
}

.twIcon img{
	display: inline-block;
	top: 10px;
	width: 48px;
	height: 48px;
}

.twContext{
	display: inline-block;
	width: 100%;
	scroll-snap-align: start;
}

.twName{
	top: 0;
	left: 0;
	flex-direction: row;
}

.twUserName{
	display: inline-block;
	font-weight: bold;
}

.twAccountName{
	display: inline-block;
	font-size: 10px;
	color: #9b9b9b;
}

.twText{
	word-break: break-word;
}

.twTime{
	text-align: right;
	font-size: 10px;
	color: #9b9b9b;
}

.borderLine{
	height: 0px;
	width: 80%;
	margin: 10px auto;
	border-radius: 2px;
	border-top: 2px solid rgb(104, 104, 104);
}

.toAuth:hover{
	filter: brightness(80%);
}

ul{
	list-style: none;
}

ul li::before{
	content: '';
	background-color: #40c4f5;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 8px 2px 0;
}

@media(max-width: 420px){
	.headerBrank{
		height: 50px;
	}
}